# https://astra.datastax.com — use default settings
ASTRA_DB_NAMESPACE=default_keyspace
ASTRA_DB_COLLECTION=docs
ASTRA_DB_API_ENDPOINT=https://...
ASTRA_DB_APPLICATION_TOKEN=AstraCS:...

# https://platform.openai.com
OPENAI_API_KEY=sk-proj-...
OPENAI_EMBEDDING_MODEL_NAME=text-embedding-3-small
# PUPPETEER_SKIP_DOWNLOAD=true
URLS_TO_PROCESS=https://www.ritualfoundation.org/docs/overview/what-is-ritual,https://www.ritualfoundation.org/docs/landscape/ritual-vs-other-chains,https://www.ritualfoundation.org/docs/landscape/ritual-vs-other-crypto-x-ai